.GridSection {
  position: relative;
  display: table;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0px;
}

.GridSectionFrozen {
  border-right: 1px solid #c7cdd1;
  display: table;
  position: relative;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 0px;
}
