.ColumnHeader {
  border-right: 1px solid #c7cdd1;
  display: table-cell;
  position: relative;
}

.ColumnHeader:last-child {
  border-right: none;
}

.ColumnHeader,
.ColumnHeader > * {
  outline: none;
}

.CellActive {
  background: #bae1f7;
}
